<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título de la Página{% endblock %}</title>
    {% load static %}
    <!-- Agrega aquí las etiquetas para enlazar a tus archivos CSS y JavaScript -->
</head>
<body>
    <!-- Agrega aquí el encabezado y el menú de navegación de tu aplicación -->

    <!-- Agrega aquí el contenido de la página -->
    {% block content %}
    {% endblock %}

    <!-- Agrega aquí el pie de página de tu aplicación -->



</body>
</html>